* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.pagina {
    display: flex;
}

.pagina img {
    width: 100vw;
    height: 100vh;
}

.conteudo {
    position: absolute;
    width: 620px;
    background-color: #fff;
}

.conteudo h2 {
    font-size: 50px;
    font-weight: 400; 
    padding: 60px 0 20px 60px;
}

.conteudo p {
    font-size: 25px;
    font-weight: 300;
    padding: 60px
}

.conteudo a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    padding: 60px;
}
